*{
    margin:0px;
    padding: 0px;
}

.prev {
    width: 6rem;
    text-align: center;
    padding: 4px;
    left: 7.5rem;
    position: absolute;
    border-radius: 100% 0.5rem 0.5rem 100%;
}

.next {
    width: 6rem;
    padding: 4px;
    text-align: center;
    right: 7.5rem;
    position: absolute;
    border-radius: 0.5rem 100% 100% 0.5rem;
    margin-bottom: 10rem;
}